.task-form {
  background-color: #f17a7a;
  padding: 40px;
  width: 40%;
  margin-left: 120px;
  border-radius: 4px;
}

.task-form h2 {
  color: #ffffff;
}

.task-form form {
  display: flex;
  flex-direction: column;
}

.task-form input {
  margin-bottom: 10px;
  padding: 5px;
}

.task-form button {
  padding: 8px;
  background-color: #646cff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
